<nav class="flex justify-between w-full bg-slate-700 text-white p-4">
  <div class="flex gap-6">
    <a
      class="no-underline hover:text-red-500 hover:underline"
      aria-current="page"
      href="/final-project/views"
      >Home</a
    >

    <a
      class="no-underline hover:text-red-500 hover:underline"
      aria-current="page"
      href="#"
      >Item 1</a
    >

    <a
      class="no-underline hover:text-red-500 hover:underline"
      aria-current="page"
      href="#"
      >Item 2</a
    >

    <a
      class="no-underline hover:text-red-500 hover:underline"
      aria-current="page"
      href="#"
      >Item 3</a
    >
  </div>
  <div>
    <a
      class="no-underline hover:text-red-500 hover:underline"
      aria-current="page"
      href="/final-project/controllers/logout.php"
      >logout</a
    >
  </div>
</nav>
